{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ title }}</h1>
            <ul class="list-group">
                {% for item in categories %}
                    <li class="list-group-item"><i class="far fa-folder-open"></i>
                        <a href="{{ path('children_cat', {'lev1': item.name|lower|replace({' ': "-"})~"-"~item.cid}) }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <h2>Questa in origine era la mia raccolta di link utili</h2>
        <p>Quindi prima ancora che nascesse la necessità SEO mi ero fatto una raccolta di link utili in primis a me.</p>
        <p>Ora le directory non sono più molto importanti per i fattori di ranking, ma se sei interessato a far recensire il tuo sito contattaci.</p>
        <p><a href='mailto&#58;i&#110;fo&#64;&#115;&#109;%61%&#55;2t&#100;ir%&#54;5&#99;t&#111;ry&#46;96%&#50;&#69;%&#54;&#67;t'>in&#102;o&#64;&#115;&#109;artd&#105;rectory&#46;9&#54;&#46;l&#116;</a></p>
    </div>
{% endblock %}
