body {
    background: white;padding: 5px;margin: 0;
}
body, td, input, select, textarea, p {
    font-family:tahoma; font-size:11px; color:#38464b;
}
p {
    margin: 8px 0;
}
table {
    border-collapse: collapse;
}
table td {
    padding: 0;
    border: 0;
    vertical-align: top;
}
a {
    color:#3176b1;
}
h1 {
    color:#3176b1;font-size:12pt;
}
h2 {
    color:#3176b1;font-size:10pt;
}
a img {
    border: 0;
}
select, textarea, input {
    vertical-align: middle;
}
textarea {
    width: 100%;
    height: 100px;
}
select {
}
select option {
    padding: 2px 4px;
}
option.level1 {
    background: #e1e1e1;
}
option.level2 {
    background: #f1f1f1;
}
option.level3,
option.level4,
option.level5,
option.level6,
option.level7,
option.level8,
option.level9,
option.level10 {
    background: #fff;
}
input.text {
    color:#38464b;
    padding:2px 5px 2px 5px;
}
.required {
    vertical-align: top;
    font-size: 11px;
    color: red;
}
.form input.text {
    width: 100%;
}
input.submit {
    padding:2px 5px 2px 5px;
}
td.title, td.title_article {
    background:#e8f0f4;border:1px solid #c2cdd1;padding:4px;
    color:black;font-weight:bold;
    /*white-space: nowrap;*/
    
    
            /*background: url('images/tbltitlebg.gif') top right;
            color: white;
            border: 0;*/
}
td.title_article {
    background: #cfefb8;
}
td.title a, td.title_article a {
    color: black;
    text-decoration: none;
    padding: 2px 5px;
}
td.item {
    padding: 4px;
    vertical-align: middle;
    border:1px solid #c2cdd1;
    /*white-space: nowrap;*/
}
tr.disabled td.item {
    color: gray;
    background: #fafafa;
}
.tree_level1 {
    font-size: 13px;
    font-weight: bold;
}
.tree_level2 {
    font-size: 12px;
}
.tree_level3,
.tree_level4,
.tree_level5,
.tree_level6,
.tree_level7,
.tree_level8,
.tree_level9,
.tree_level10 {
    font-size: 11px;
    font-weight: normal;
}
.deline {
    border-bottom: 1px dashed #c2cdd1;
    margin: 10px 0;
}
.ok_color {
    color: green;
}
.error_color {
    color: red;
}
.error_box {
    border: solid 1px red;background-color:#FFEEEE;padding:10px;margin:5px 0;
    width: 525px;
}
.ok_box {
    border: solid 1px green;background-color:#EEFFEE;padding:10px;margin:5px 0;
    width: 525px;
}
.over_box {
    overflow: scroll; border: 1px solid #c2cdd1;
}
.not_found {
    font-weight: bold;
    background: #f1f1f1;
    padding: 1px 3px;
}
#main {
    height: 100%;
    width: 100%;
}
#left {
    width: 200px;
}
#menu {
    width: 200px;
}
#menu td.title {
    background: #9bc871;
    border-right: 1px solid #c2cdd1;
    padding: 8px;
    color: white;
    font-weight: bold;
}
#menu td.block {
    border: 0;
    border-right: 1px solid #c2cdd1;
    border-bottom: 1px solid #c2cdd1;
    background: white;
    padding: 8px;
}
#menu .block ul {
    margin: 0;
    padding: 0;
}
#menu .block li {
    list-style: none;
    padding: 2px 0;
}
table.form {
    width: 550px;
}
td.name {
    border: 0;
    padding: 5px;
    background: none;
}
td.field {
    padding: 5px;
    vertical-align: middle;
    width: 300px;
}
table.form td.submit {
    padding: 5px;
    text-align: right;
    border: 0;
}
.pagenav {
    margin: 10px 30px;
    text-align: center; 
    padding-bottom:20px;
}
div.pagenav {
    width: 250px;
}
.pagenav .page{
    margin-top: 2px;
}
.pagenav ul li{
    list-style: none;
}
.pagenav input {
    text-align: center;
    font-weight: bold;
    padding: 2px 3px;
    border: 1px solid #5167A5;
}

.pagenav a {
    padding: 0 5px;
}
.cnleft{
    float:left;
}
.cnright{
    float:right;
}
.pagenav a {
    padding: 0 5px;
}
ul.errors li {
    color: red;
}
.calendar {
    visibility: hidden;
    background-color: white;
    z-index: 9999;
    border: solid 1px #34783E;
    position: absolute;
    margin-top: 25px;
    margin-left: 30px;
}
.ctable {
    width: 210px;
}
.ctbl0 td {
    background: #9bc871;
    border: 1px solid white;
    color: white;
    padding: 4px;
}
.ctbl2 td {
    background: #e8f0f4;;
    border: 1px solid white;
    padding: 4px;
}
#items {
    width: 100%;
}
#items .item_top {
}
#items .item_top .param {
    width: 35px;
    font-weight: normal;
    text-align:right
}
#items .item_middle {
}
#items .item_bottom {
}
#items .loader_small {
    vertical-align: middle;
    display: none;
}
#items .browser {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    background: white;
    border: 1px solid silver;
    display: none;
}
#items .control_locker {
    height: 40px;
    width: 700px;
    position: absolute;
    margin-top: -40px;
    margin-left: 40px;
    visibility: hidden;
}
