{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @import url("https://fonts.googleapis.com/css?family=VT323");

        :root {
            --width: 280px;
            --height: 180px;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .footer-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
        }
    </style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="spaghetti-error" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
            <spaghetti>
                <fork></fork>
                <meat></meat>
                <pasta></pasta>
                <plate></plate>
            </spaghetti>
        </div>
    </div>
{% endblock %}

