{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ title }}</h1>
            <ul class="list-group">
                {% for item in categ %}
                    <li class="list-group-item">
                        <a href="{{ app.url_generator.generate('level1',{"cat1":item.name|lower|replace({' ': "-"})~"-"~item.cid}) }}">
                            {{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <h2>Questa in origine era la mia raccolta di link utili</h2>
        <p>Quindi prima ancora che nascesse la necessità SEO mi ero fatto una raccolta di link utili in primis a me.</p>
        <p>Ora le directory non sono più molto importanti per i fattori di ranking, ma se sei interessato a far recensire il tuo sito contattaci.</p>
        <p><a href="mailto:info@smartdirectory.96.lt">info@smartdirectory.96.lt</a></p>
    </div>
{% endblock %}
