{% extends 'base.html.twig' %}
{% block title %}{{ title }} - {% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Subdir</h1>

        </div>
    </div>
{% endblock %}
