
/*******************************
*  Common styles 
*******************************/
body, table, td, th, p,  li, b, span, u, i
{ 
    font-family: Verdana, Arial; 
    font-size:11px
}

a, a:active, a:visited
{
    color:#0000FF;
}

a:hover
{
    color:#0000FF;
}

span.sitetitle
{
    font-size:13px;
    font-weight: bold;
    color: #777777
}


/*******************************
*  Categories
*******************************/

table.categories 
{ 
    border:1px 
}

table.categories td 
{ 
    padding:0; margin:0 
}

table.category td.category
{
    font-size: 13px;
}

table.category td.category a
{
    font-weight: bold
}

table.category td.subcategories
{
    font-size: 11px;
    font-weight: normal
}


/*******************************
*  Items
*******************************/

table.items
{

}
table.items td
{
    padding-bottom:10px
}


/*******************************
*  New items
*******************************/

table.newitems 
{
    border:1px solid #896819;
    background-color: #FFEEB3 
}    

table.newitems th 
{ 
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #896819
}     

table.newitems td
{ 
    text-align: left;
    padding: 2px
}     

/*******************************
*  Search & filters
*******************************/
table.search, table.filters0, table.filters1
{
    width:100%;
    border: 0;
    border-top: 1px solid #E0E0E0;
    background-color: #F0F0F0;
    padding:0; margin:0;
}

table.filters1
{
    border-top: 1px solid #E0B0B0;
    background-color: #FFE0E0;
}

table.search td, table.filters0 td, table.filters1 td
{
    padding:0; margin:0;
}

input.searchtext
{
    font-size:12px;
    width:200px;
    height:21px;
}

input.searchbutton, input.rubtorbutton
{
    font-size:11px;
    height:20px
}


/*******************************
*  Category path
*******************************/
table.catpath
{
    width:100%;
    border: 0;
    border-top: 1px solid #E0E0E0;
    background-color: #F0F0F0;
    padding:0; margin:0;
}

table.catpath td
{
    padding:0;
    font-size:14px;    
    color:#606060
}

table.catpath a, 
table.catpath span
{
    font-size:14px;    
}

table.catpath a.main
{
    font-weight:normal
}

table.catpath span.currentcat
{
    font-weight:bold
}

/*******************************
*  Page navigation
*******************************/
table.pagenav
{
    border: 0;
    margin: 10px;
}

input.pagenav
{
    border: 1px solid #DDDDDD;
    text-align:center;
    font-weight: bold
}

/*******************************
*  Category map
*******************************/
ul.catmap_level1 li 
{ 
    font-size: 14px; 
    font-weight: bold;
}

ul.catmap_level2 li 
{ 
    font-size: 13px;
    font-weight: bold
}

ul.catmap_level3 li 
{ 
    font-size: 12px;
    font-weight: normal
}

ul.catmap_level4 li,
ul.catmap_level5 li,
ul.catmap_level6 li,
ul.catmap_level7 li,
ul.catmap_level8 li,
ul.catmap_level9 li,
ul.catmap_level10 li
{ 
    font-size: 11px;
    font-weight: normal
}
